{% extends 'base.html.twig' %}

{% block title %}Eurostock - immagini{% endblock %}

{% block body %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {{ include('image/_image_card_layout.html.twig', {images : paginator.results}) }}
            </div>
        {{ include('image/_paginator.html.twig', {paginator: paginator}) }}
        </div>
    </div>

    {{ include('default/_image_zoom.html.twig') }}

{% endblock %}



{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}