{% if categories is not empty %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorie</a>
        <div class="dropdown-menu" aria-labelledby="dropdownCategory">
            {% for category in categories %}
                <a class="dropdown-item" href="{{ path('image_index', {category : category.id}) }}">{{ category }}</a>
            {% endfor %}
        </div>
    </li>
{% endif %}

