//@import "~bootswatch/dist/superhero/variables";

@import "bootstrap-tagsinput";

.input-group {
  flex-wrap: nowrap;
}

.custom-file-label {
}

.custom-file-label::after {
  content: "Scegli";
}

.bootstrap-tagsinput {
  height: inherit;
  border: 1px solid #ced4da;
}

.bootstrap-tagsinput .tag {
  border-radius: inherit;
}

span.help-block ul.list-unstyled li{
  color: red;
}
